.conteudo__lista{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.lista__item {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.lista__link {
    color: #000000;
    text-decoration: none;
}
.lista__link:hover{
    text-decoration: underline;
}
